<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <context:component-scan base-package="edu.neumont.csc380"/>

    <jaxws:server id="jaxwsService" serviceClass="edu.neumont.csc380.service.keygen" address="/keygen">
        <!-- <jaxws:inInterceptors>
	      <bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
	         <constructor-arg>
	            <map>
	               <entry key="action" value="UsernameToken"/>
	               <entry key="passwordType" value="PasswordText"/>
	               <entry key="passwordCallbackRef">
	                  <ref bean="helloCallbackHandler"/>
	               </entry>
	            </map>
	         </constructor-arg>
	      </bean>
	   </jaxws:inInterceptors> -->
       <jaxws:serviceBean>
	      <bean class="edu.neumont.csc380.service.KeyGenImpl" />
	   </jaxws:serviceBean>
	</jaxws:server>
</beans>

<!-- <jaxws:properties>
          <entry key='ws-security.callback-handler' value-ref="helloCallbackHandler"/>
       </jaxws:properties> -->